<div *ngIf="images" fxLayout="row wrap" fxFlexAlign="center stretch">
  <div class="image-container" *ngFor="let image of images.hits" fxFlex="calc(25% -20px)" fxFlex.xs="calc(50% -5px)"
       [ngStyle.gt-md]="'margin: 20px 20px 0 0;'" [ngStyle.lt-lg]="'margin: 5px 5px 0 0;'">
    <mat-card fxFlex="1 1 auto">
      <mat-card-header>
        <img mat-card-avatar [src]="image.userImageURL" [alt]="image.user" >
        <mat-card-title>{{image.user.substring(0, 15)}}</mat-card-title>
        <mat-card-subtitle >{{image.tags.substring(0, 15)}}</mat-card-subtitle>
      </mat-card-header>
      <img class="image" mat-card-image [src]="image.previewURL" [alt]="image.type">
      <mat-card-content fxLayoutAlign="space-between center">
        <span>size: {{image.webformatWidth}} x {{image.webformatHeight}}</span>
        <a class="link-button " target="_blank" [href]="image.pageURL">оригінал</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
