<div *ngIf="images" fxLayout="row" fxFlexAlign="stretch center" fxLayoutWrap="wrap">
  <div class="image-container" *ngFor="let image of images.hits" fxFlex="1 1 22%">
    <mat-card fxFlex="1 1 auto">
      <mat-card-header style="margin: -20px 0 5px -20px;">
        <img mat-card-avatar [src]="image.userImageURL" [alt]="image.user" >
        <mat-card-title>{{image.user}}</mat-card-title>
        <mat-card-subtitle >{{image.tags.substring(0, 15)}}</mat-card-subtitle>
      </mat-card-header>
      <img class="image" mat-card-image [src]="image.previewURL" [alt]="image.type">
      <mat-card-content fxLayoutAlign="space-between center">
        <span>size: {{image.webformatWidth}} x {{image.webformatHeight}}</span>
        <a class="link-button " target="_blank" [href]="image.pageURL">оригінал</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
