<mat-toolbar color="primary" [class.home-toolbar]="homePage"
             fxLayoutGap="25px" fxLayoutGap.xs="10px" [ngStyle.xs]="'font-size: 1em;'">
  <span class="link-section" routerLink="/">Головна</span>
  <span class="link-section" routerLink="/news">Новини</span>
  <span class="link-section" routerLink="/photo">Фотогалерея</span>
  <span class="link-section" routerLink="/tests">Тести</span>
  <span class="link-section" routerLink="/contact">Контакти</span>
</mat-toolbar>

<div [class.content]="!homePage " [ngStyle.lt-lg]="!homePage ? 'width: 96vw;' : ''"
     [ngStyle.gt-md]="!homePage ? 'width: 80vw;' : ''">
  <router-outlet></router-outlet>
</div>


