<div class="section head" fxLayout="row" fxLayoutAlign="center center">
  <span>Reaper</span>
</div>
<div class="section color-acent background-vector" fxLayout="column" fxLayoutAlign="space-around center">
  <h3>Отслеживает логи</h3>
  <div class="row" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <mat-icon>library_books</mat-icon>
    <mat-list fxFlex="1 1 auto">
      <mat-list-item>удаленных комментариев</mat-list-item>
      <mat-list-item>пропущенных комментариев</mat-list-item>
      <mat-list-item>фильтрованных комментариев</mat-list-item>
      <mat-list-item>забаненных пользователей</mat-list-item>
      <mat-list-item>комментариев с нецензурной лексикой</mat-list-item>
    </mat-list>
  </div>
</div>
<div class="section gradient">
  <div class="vector" fxLayout="column" fxLayoutAlign="space-around center">
    <h3>Удаляет</h3>
    <div class="row" fxLayout="row-reverse" fxLayoutAlign="end center" fxLayoutGap="20px">
      <mat-icon>receipt</mat-icon>
      <mat-list fxFlex="1 1 auto">
        <mat-list-item fxLayout="row-reverse">удаляет комментарии со стены</mat-list-item>
        <mat-list-item fxLayout="row-reverse">удаляет комментарии с дошкы</mat-list-item>
        <mat-list-item fxLayout="row-reverse">удаляет комментарии с фото</mat-list-item>
        <mat-list-item fxLayout="row-reverse">удаляет комментарии с видео</mat-list-item>
        <mat-list-item fxLayout="row-reverse">удаляет комментарии с магазина</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<div class="section color-acent" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-icon>video_label</mat-icon>
    <span>фильтр видео</span>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-icon>font_download</mat-icon>
    <span>фильтр нецензурных слов</span>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-icon>filter_list</mat-icon>
    <span>фильтр стоп слов</span>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-icon>link</mat-icon>
    <span>фильтр ссылок</span>
  </div>
</div>
