@import '~@angular/material/theming';

// Define a theme.
$primary: mat-palette($mat-teal, 700, 400, A700);
//$accent:  mat-palette($mat-orange, 400, 200, 600);
//$accent:  mat-palette($mat-yellow, 600, 200, 900);
$accent:  mat-palette($mat-amber, 400, 300, 500);
//$accent:  mat-palette($mat-teal, 500, 300, 500);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

$config: mat-typography-config();

@mixin container-one-row {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}
